<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	7Vddd6I4GP4v3OK2CQECPWcvbFFra1EUP9rtXiAGpAJxIIg6p/99E6St0zOdU2f27N4M
	R0+S933yfj5A+ColhHkLj3nSxVcp8XJGsmsShUsmXSBDhY1aNo0WbCldKFAHDYlmEUmZ
	xyKaShfwuSEFNEs8NiFZfhA1pM1h3k0DKgzPiyhe2EUyJ5l0IUGzjbHUkLz1+nWPpGrg
	DJxx+1yR+0uSeEOyiQ5K7nMde0y44cioP5K4U2/xVOQs4ZHk0sVfX78TBEm9eUwW0kXg
	xTnhZgljURrmIiIaBHw58liR1YlwJ1G6LtgVjWlWLXORY84iv9qRe2xAMp/7i2JiGhxx
	ZipQ0w0dKVDRDE1Vzca3qM4BhrGuYqADqGmGbmjoHQprAgRUBBFWNB3wHwZIMSpYs2B0
	4sUFqTDYECgdG1iFqqYBg9fhkMkVb1MVdL2kKcteRB63UReB46OFcBtEVStGiZfVGb+0
	sXus92lyxtsUk7P1knIrz40fFpplxbs677zyEFYWhVHqxVcZXb82ZNuvpIdii0heNeUx
	33YvMF4gKNqSeYKhJG2mYcwL88e3OTakZc1gRdV5S3yaVltS9sJscCysqS04FjFfzN4X
	qYr53yjPxzxcegta5m8k7L0GegBc83UsZPmRsEd9L36PbG3XNC8yciS6zAQmJfnx5svY
	81cDygvwHa6vgVLxraK3gvm9aRoAcbrzImngI5V3zFWkYvP44nRmlBNg6KXhgcwIqNwE
	/6tQMQ3TVBvS/DioMwAQNLGuQRUgzTQUiDXuX9E+8l8V6M5bvz7ARLj1nfoOrL+h6/4L
	cCwK+s0dhwxFAUeX+ravuQk5A9p79U/pTcglluPYl03Q+j3+J2PXckrbKkHHcsa/Zs81
	bDUEpuX49l0JFOu+KeQ31tCwO+Wp9uAuL3Z7nA1YLisbjKtxh0sgW0NV4O6soX9SfNfF
	dorhPJzI25nWDpIJfij4etPptOyoBK7A3Z0W51SJ2tpt3koWTZRek8VAb89pPynz2XLb
	s4KWLTvIOynvSzezSLTRrx7Pv3SKxVhD8/VEXsy8vZn3shXGrru0yOqkxKf99VyfpNTt
	L8canNOJvBzOr8ysF1Mcd+bF7SK3HeekxMnqcli01t1AuZxtWmw7XK1GQwtS+yZU3P4k
	t8fhyQ2/7T2eN215OVBuNl07airOQaEM7pTh7coBo5MZOSztVomoNQP2qO6sXcKnW2Ws
	rp6SkeXTk5l+1YRta9S1rxzO8ElXWa2I2+s0p5OWNx6t22Md95hFDNstkWrNup+zG/i2
	0Rvs2kF36SXTkat12SqCD/3uzfgBuvmXotzL2V7fBLSUSzT+kT2zwrG5HOP95PH8cmo8
	9e47+xA9tDuuezNW8cRlziC5lzOkbwbUNkOAfhwgwptBYT6e37j6bR8+4PmAjfuqhscB
	u+7TUHZnWvF4XpgyRroVUFv+ZClhKPArWw55qchuh+e9jeC2HNZ2QoQt/zMPJSWxZsc4
	aNSR761RKdamNStPazX3/3juINTaqHwSIsOqJg4yrcCw5a1r9ALAx5ks1kKBLS7gFObQ
	oKwm2o+8tByu58AqS14F4QRXgvIwmo4og1qvP/lsDvKXWFTx8DFf8jAPMVUTUPmqJp8t
	CSfSE09L7T+ebzPzZsOjHA1q402k8zt35cuVzZ95d0Bkzajtl1CzZqHdbYrx3l44cPXT
	76KZby9CYTe3SRM8CbukCbE1NX7tHfd7/L9GcUoslxEj9fEWiuNt/QEpTqbirAo/PFov
	+fnyluyE2oBYgZADEAIa5mfi55/66HNpSj75UfP38z8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.mobileslideshow</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.5</string>
	<key>adjustmentTimestamp</key>
	<date>2023-01-19T16:45:44Z</date>
</dict>
</plist>
