<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>cloudVersion</key>
	<string>0A81DDA0-1800-48E4-8E05-9002A153F50E</string>
	<key>storeUUID</key>
	<string>DC2278A9-4EB0-4021-A543-1C953E9911D7</string>
</dict>
</plist>
